@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
body {
	font-family: 'Playfair Display', serif;
	font-size: 14px;	 
}

.container {
	position: relative;
	width: 650px;
	padding: 10px;
	background: rgb(241,241,241);
	border: 1px solid grey;	
}

.foto{
	float: left;
	position: absolute;
	left: 430px;
	top: 107px;
	width: 200px;
	height: 200px;
	margin-right: 20px;
}
ul {
	list-style: none;
}
ul ul  {
	list-style: square;
}

h1 {
	text-align: center;
	font-size: 34px;
	text-transform: uppercase;
}

h2{
	text-align: left; 
	font-size: 18px;
	text-transform: uppercase;
}

table {
	margin-top: 15px;
	width: 350px;
	border: 1px solid black;
	border-collapse: collapse;
}
table td {
	border: 1px solid black;
	padding: 10px;
}
table tr:hover {
	background:	#999;
}
p{
	margin-left: 10px;
}
a {
	text-align: center;
	text-decoration: none;
}
a:hover {
	color: green;
}
a:visited {
	color: red;
}
a:active {
	color: yellow;
}